body {background-color: #faf2e4;
margin: 0 10%;
font-family: sans-serif;
}
h1 {text-align:center;
font-family: serif;
font-weight: normal;
text-transform: uppercase;
border-bottom: 1px solid #57b1dc;
margin-top: 30px;
}
h2 {
    color: #d1633c;
    font-size: 1em
}
footer { 
    border-top: 1px solid #57b1dc;  
    text-align: center;  
    padding-top: 1em; 
    } 
    footer img { 
    width: 40px;   
    height: 40px;  
    margin-left: .5em;  
    margin-right: .5em; 
    } 
a {
  text-decoration: none;
}

a:link{
  color: #57b1dc;
}

a:visited{
  color:  #7494a3;
}

a:focus, a:hover {
  color: #0f9cdd;
  background-color: #fff;
}

a:active {
  color:  #00aeff;
  background-color: #fff;
}